body {
    background-color: #fbf7e4;
    margin-left: 20%;
    margin-right: 20%;
}
.title {
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}

.sectionHeader {
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.mb-3 {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.502);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.299);
    border-radius: 8px;
    display: flex; /* use flexbox for layout */align-items: flex-start; /* keeps tops aligned */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px; /* space between container items */
    align-items: center;
}

.profilePic {
    padding: 10px 10px 10px 10px;
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.icon {
    padding: 10px 10px 10px 10px;
    height: 50px;
    width: auto;
    border-radius: 50%;
}

/* Mobile responsive breakpoint */
@media (max-width: 768px) { /* @media is a condition. in this case it will check if the screen viewing the webpage is <= to 768 px
                            if so, then it will will stack the table and aside vertically instead of horizontally.*/

    .container table,
    .container aside {
        flex: 1 1 100%;
        /* stack vertically on small screens */
    }
}

footer{
    margin-top: 150px;
    background-color: lightgrey;
    color: white;
    text-align: center;
    padding: 10px;
}
#contact {
    margin-top: 20px;
}
.emailContact {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}